<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>COOKED</title> 
  <script src="https://kit.fontawesome.com/e601f25512.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/generals.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/containers.css">
  <link rel="stylesheet" href="/css/forms&cards.css">
</head>

<body>
    <div class="header">
        <div class="header-content">
            <ul>
            <li class="header-list-item">
                <a href="/" class="header-title"> COOKED <i class="fa-solid fa-kitchen-set"></i> </a>  
            </li>
            <div class="header-register">
                <li>
                    <a href="/signup" class="header-link"> Account </a>
                </li>
                <li>
                    <a href="/login" id="logout" class="header-link"> Logout </a>
                </li>     
            </div>  
            </ul>
        </div>
      </div>
      <div class="sub-header">
        <ul class="sub-header-content">
            <li>
                <a href="/dashboard/trending" class="header-link"> Trending <i class="fa-solid fa-fire"></i></a>
            </li>
            <li>
                <a href="/dashboard/category/Veggie" class="header-link"> Veggie <i class="fa-solid fa-seedling"></i></a>
            </li>
            <li>
                <a href="/dashboard/category/All-Meats" class="header-link"> All-Meats <i class="fa-solid fa-fish"></i></a>
            </li>     
            <li>     
                <a href="/dashboard/category/Dessert" class="header-link"> Desserts <i class="fa-solid fa-ice-cream"></i></a>
            </li> 
             <li>
                <a href="/dashboard" class="header-link"> My posts <i class="fa-solid fa-user"></i></a>
             </li>

        </ul>
         <div class="header__main-ham-menu-cont">
            <i class="fa-solid fa-bars header__main-ham-menu"></i>  
         </div>  
           <div class="header__sm-menu">
            <div class="header__sm-menu-content">
                <ul class="header__sm-menu-links">
                    <li class="header__sm-menu-link">
                        <a href="/dashboard/trending"> Trending </a>
                    </li>
                    <li class="header__sm-menu-link">
                        <a href="/dashboard/category/Veggie"> Veggie </a>
                    </li>
                    <li class="header__sm-menu-link">
                        <a href="/dashboard/category/All-Meats"> All-Meats </a>
                    </li>
                    <li class="header__sm-menu-link">
                        <a href="/dashboard/category/Dessert"> Desserts </a>
                    </li>
                     <li class="header__sm-menu-link">
                        <a href="/dashboard"> My posts </a>
                    </li>
                    <li class="header__sm-menu-link">
                        <i class="fa-solid fa-x header__main-ham-menu-close"></i>
                    </li>
                </ul>
            </div>
          </div>
      </div>
    
    <section class="footer">
        <a href="/dashboard/new" class="btn-new-post">➕ New Post</a>
    </section>

    <div class="dashboard-container">
        {{{ body }}}
    </div>
    
    
</body>
<script src="/js/logout.js"></script>
<script src="/js/menu.js"></script>
</html>