<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COOKED</title> 
  <script src="https://kit.fontawesome.com/e601f25512.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/generals.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/containers.css">
  <link rel="stylesheet" href="/css/forms&cards.css">
  <link rel="stylesheet" href="/css/welcome.css">
</head>

<body>
  <div class="header">
      <div class="header-content">
            <ul>
              <li class="header-list-item">
                  <a href="/" class="header-title"> COOKED <i class="fa-solid fa-kitchen-set"></i> </a>  
              </li>
              <div class="header-register">
                  <li>
                      <a href="/signup" class="header-link"> Sign up </a>
                  </li>
                  <li>
                      <a href="/login" class="header-link"> Login </a>
                  </li>     
              </div>  
            </ul>
        </div>
      </div>

      <main class="main-container">
        {{{ body }}}
      </main>

    <footer>
      
  </footer>
</body>

</html>