<div class="card">
    <div class="card-header-pic" style="background-image: url(https://www.animalgourmet.com/wp-content/uploads/2015/08/angrygordon.jpg)">
      <div class="card-header-bar">
        <a href="#" class="btn-message"><span class="sr-only">Message</span></a>
      </div>

      <div class="card-header-position">
        <a href="#" class="btn-pic"><span class="sr-only">Add Profile pic</span></a>
      </div>
    </div>

    <div class="card-body-card">
      <h2 class="name">{{userInfo.username}}</h2>
      <h4 class="job-title">Profile Account</h4>
      <div class="social-accounts">
        <img class="main-footer__icon" src="/images/others/linkedin-ico.png" alt="icon"/>
        <img class="main-footer__icon" src="/images/others/github-ico.png" alt="icon"/>
        <img class="main-footer__icon main-footer__icon--mr-none" src="/images/others/insta-ico.png" alt="icon"/>
      </div>
    </div>

    <div class="card-footer">
      <div class="stats">
        <div class="stat">
          <span class="label">Posts</span>
          <span class="value">200</span>
        </div>
        <div class="stat stat-border">
          <span class="label">Followers</span>
          <span class="value">940</span>
        </div>
        <div class="stat stat-border">
          <span class="label">Likes</span>
          <span class="value">320</span>
        </div>
      </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/e601f25512.js" crossorigin="anonymous"></script>


