<div class="spacer layer2 flip"></div>
<section class="background1">
    <div class="tablita">
    <img src="images/frontpage/main.jpeg" alt="Kitchen stuff" class="image">
    <div class="primertexto">
    <h1 class="welcome">Welcome,</h1>
    <h1 class="welcometxt">we are a social platform that connects people who share a common passion for cooking.</h1>

    <div class="logoutensilstodos">
        <i class="fa-solid fa-utensils" id="logoutensils"></i>
        <i class="fa-solid fa-utensils" id="logoutensils1"></i>
        <i class="fa-solid fa-utensils" id="logoutensils2"></i>
        </div>

    <h1 class="welcometxt1"><a href="/login" class="link">Join our community</a> and discover new and exciting recipes <br>- From all over the world!</h1>
   </div>
</div>
</section>
<div class="spacer layer2"></div>



<div class="whats">
  <i class="fa-solid fa-circle-exclamation" id="info"></i>
    <h1>What's <br>happening inside <br>Cooked?</h1>
</div>

<div class="grid-container">
  <div class="grid-item"><img src="images/frontpage/1.jpeg" alt="Chucrut" class="first"></div>
  <div class="grid-item">
    <h1>Chucrut</h1> <p>Hola! He estado tratando de preparar Chucrut, pero que especias me recomiendan poner? <br>Además les tengo esta receta buenisima. Empezamos por cortar una col. <br> <a href="/login" class="continue">Continue Reading!</a></p>
    </div>
  <div class="grid-item"><img src="images/frontpage/2.jpeg" alt="Second Dish"  class="second"></div>
  <div class="grid-item">
    <h1>Baba Ganoush</h1>
    <p>First things first: the type of eggplant. <br>Big ol' globes are usually the eggplant of choice, but we prefer the small ones. <br><a href="/login" class="continue">Continue Reading!</a></p>
    </div>
  <div class="grid-item"><img src="images/frontpage/3.jpeg" alt="Third Dish" class="third"></div>
  <div class="grid-item">
    <h1>Mexican Calabacitas</h1><p>You can use the green kind -like the one used in this recipe- <br>or the lighter green ones that some people refer to Mexican squash. It doesn't matter really.<br><a href="/login" class="continue">Continue Reading!</a></p>
    </div>
</div>

<footer class="footermain">
    <p class="thanku">Thank you :-)</p>
    </footer>

<div>
</div>


