

<div class="welcome-container">
  <div class="welcome-img-container">
    <img src="images/frontpage/main.jpeg" alt="Kitchen stuff" class="welcome-img">
    
  </div>
  
  <div class="welcome-first-text">
    <div>
      <p class="welcometxt">Welcome,</p>
      <p class="welcometxt-body">we are a social platform that connects people who share a common passion for cooking.</p>
      <p class="welcometxt-body"><a href="/login" class="link">Join our community</a> and discover new and exciting recipes!</p>
    </div>
    <div class="welcome-icons">
      <div class="welcome-icons-wrapper">
        <i class="fa-solid fa-utensils fa-2xl"></i>
        <p>Find amazing recipes</p>
      </div>
      
      <div class="welcome-icons-wrapper">
        <i class="fa-solid fa-up-right-from-square fa-2xl"></i>
        <p>Share with your friends</p>
      </div>
      <div class="welcome-icons-wrapper">
        <i class="fa-solid fa-globe fa-2xl"></i>
        <p>Connect internationally</p>
      </div>
      <div class="welcome-icons-wrapper">
        <i class="fa-solid fa-square-plus fa-2xl"></i>
        <p>Post, comment and more!</p>
    </div>
  </div>
</div>

{{!-- <div class="whats">
  <i class="fa-solid fa-circle-exclamation" id="info"></i>
    <h1>What's <br>happening inside <br>Cooked?</h1>
</div> --}}

<div class="grid-container">
  <div class="grid-item">
    <img src="images/frontpage/1.jpeg" alt="Chucrut" class="first">
  </div>
  <div class="grid-item">
    <h1>Chucrut</h1> <p>Hola! He estado tratando de preparar Chucrut, pero que especias me recomiendan poner? <br>Además les tengo esta receta buenisima. Empezamos por cortar una col. <br> <a href="/login" class="continue">Continue Reading!</a></p>
  </div>
  <div class="grid-item">
    <img src="images/frontpage/2.jpeg" alt="Second Dish"  class="second">
  </div>
  <div class="grid-item">
    <h1>Baba Ganoush</h1>
    <p>First things first: the type of eggplant. <br>Big ol' globes are usually the eggplant of choice, but we prefer the small ones. <br><a href="/login" class="continue">Continue Reading!</a></p>
  </div>
  <div class="grid-item">
    <img src="images/frontpage/3.jpeg" alt="Third Dish" class="third">
  </div>
  <div class="grid-item">
    <h1>Mexican Calabacitas</h1><p>You can use the green kind -like the one used in this recipe- <br>or the lighter green ones that some people refer to Mexican squash. It doesn't matter really.<br><a href="/login" class="continue">Continue Reading!</a></p>
  </div>
</div>

<footer class="main-footer">
  <div class="footer-container">
    <div class="main-footer__upper">
      <div class="main-footer__row main-footer__row-1">
        <h2>
          <span>Social</span>
        </h2>
        <div class="main-footer__social-cont">
            <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/jcuetos97/">
              <img class="main-footer__icon" src="/images/others/linkedin-ico.png" alt="icon"/>
            </a>
            <a target="_blank" rel="noreferrer" href="https://github.com/jcuetos97/COOKED">
              <img class="main-footer__icon" src="/images/others/github-ico.png" alt="icon"/>
            </a>
            <a target="_blank" rel="noreferrer" href="https://www.instagram.com">
              <img class="main-footer__icon main-footer__icon--mr-none" src="/images/others/insta-ico.png" alt="icon"/>
            </a>
          </div>
        </div>

        <div class="main-footer__row main-footer__row-2">
          <h2>Creators</h2>
          <p class="contributors-text">Diego Sadurni</p>
          <p class="contributors-text">Juan Jose Espinosa</p>
          <p class="contributors-text">Tere Quintero</p>
          <p class="contributors-text">Arnol Segovia</p>
          <p class="contributors-text">Javier Contreras</p>

          <p class="main-footer__short-desc">
            COOKED is a social app that connects people with a common need and passion: <strong>cooking.</strong>
          </p>
          </strong>
        </div>
      </div>
    </div> 
  </div>   
</footer>


