<link rel="stylesheet" href="likes.css">
<div class="container" >
      <button class="btn btn-like">
        <span class="btn-icon btn--icon-default">
          <span class="fa fa-heart" ></span>
        </span>
        <span class="btn-icon btn--icon-liked">
          <span class="fa fa-heart"></span>
        </span>
        <span class="btn-content  btn-content--liked">
        
        </span>
        <span class="btn-content btn-content--default">
       
        <span id="btn-counter" data-count="0"></span>
        </span>
       
      </button>
<script src="likes.js"></script>
<script src="https://kit.fontawesome.com/a7989ffde1.js" crossorigin="anonymous"></script>
      </div>
    </div>