<form class="form login-form">
  <div class="form-sub">
    <label for="username-login">Username.</label>
    <input class="form-input" type="text" id="username-login" />
  </div>
  <div class="form-sub">
    <label for="password-login">Password.</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-sub">
    <button class="btn sign-up-btn" type="submit">Login</button>
  </div>
  <div class="sign-up">
    <a href="/signup" class="sign-up-text"> ¿Don't have an account? Sign up!</a>
  </div>
</form>

<script src="/js/login.js"></script>