{{#each allPosts as |post|}}
    <div class="post-card">
        <div>
            <p>{{title}}</p>
            <label>By: {{user.username}}</label>
        </div>
        <div>
            <img src="/uploads/{{file_img}}" width="200px" height="150px" />
        </div>
        <div>
            <textarea name="recipe" id="content-newPost">{{body}}</textarea>                                        
        </div>        
    </div>
{{/each}}