:root {
    --light-blue: #05A3C7; 
    --dark-blue: #086788; 
    --yellow: #F0C808;
    --papaya: #FFF1D0;
  }

.main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 85vh;
    width: 100%;
    background-color: var(--yellow);   
}

.dashboard-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 75vh;
  background-color: var(--yellow);   
}

.posts-container {
  width: 75%;
  min-width: 280px;
  max-width: 600px;
}

@media only screen and (max-width: 70rem) {
  .posts-container {
  width: 100%;
  padding: 0; } 
  .dashboard-container {
    padding: 0;
  }
}