/* Forms */
.form {
    position: relative;
    width: 70%;
    max-width: 565px;
    min-width: 250px;
    padding: 15px;
    background-color: rgba(55, 54, 68, 0.10);
    border-radius: 1.5rem;
}
.form-sub {
    font-weight: 400;
    font-size: 1.2rem;
}   
.form-input {
    width: 100%;
    padding: 0.5rem;
    color: #1a1a1a;
    background-color: #fff;
    margin: 0.625rem 0;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
} 

.form-input::placeholder {
    font-size: 1rem;
    font-family: inherit;
}

.sign-up {
    font-family: inherit;
    font-weight: inherit;
    text-align: center;
    margin: 25px;
}
.sign-up-text:hover {
    color: #ffffff;
}
.btn {
    font-family: inherit;
    font-weight: inherit;
    text-align: center;
    display: inline-block;
    padding: 0.7rem 1.5rem;
    margin-top: .3rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.3rem;
    outline: none;
    background-color: var(--dark);
    color: var(--papaya);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.btn:hover {
    font-family: inherit;
    font-weight: inherit;
    background-color: #cecece;
    color: #ffffff;
}

.btn-x {
    font-size: inherit;
    background-color: inherit;
    color: var(--papaya);
}



@media only screen and (max-width: 67rem) {
    .form-sub {
        font-size: 1rem; } }

/* Cards */
.post-card {
    position: relative;
    min-width: 250px;
    max-width: 600px;
    background-color: rgba(55, 54, 68, 0.10);
    border-radius: 1.5rem;
    margin: 0.5rem;
    font-family: inherit;
}
.card-header {
    background-color: var(--dark-blue);
    color: var(--white);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem;
    color: var(--papaya);
}
.card-header {
    font-size: 1rem;
}
.card-data {
    font-size: .55rem;
    font-weight: 600;
    color: var(--white); 
}
.card-body {
    font-size: 1rem;
    padding: 1rem;
}
@media only screen and (max-width: 55rem) {
    .card-body {
      padding: 0;
    }
}

.card-image {
    object-fit: contain;
    width: 100%;
    height: 70%;
    cursor: pointer;
}

.card-text {
    padding: 1rem;
}

.card-icons {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

.card-icons-user {
    position: absolute;
    right: 1rem;
}

.icon {
    padding: 1rem;
}


.categories {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.categories-link {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category-wrapper {
    padding: 7px;
}

.category-link {
    background-color: var(--dark);
    border-radius: 15px;
    font-size: .7rem;
    color: var(--white);
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
}