:root {
  --light-blue: #05A3C7; 
  --dark-blue: #086788; 
  --yellow: #F0C808;
  --papaya: #FFF1D0;
  --dark: #333;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0; }

body {
    line-height: 1.5;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    }

a {
    text-decoration: none;
    color: inherit; }

li {
    list-style: none; }

button {
    border: none;
    cursor: pointer; }

textarea {
    resize: none;
    font-family: inherit;
    background-color: rgba(55, 54, 68, 0.10);
    padding: 1rem;
    width:100%;
    min-height:250px;
    border: none; 
} 

/* New post button */
.new-post {
    width: 100%;
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .7rem;
}

.btn-new-post {
    font-size: inherit;
    font-family: inherit;
    background-color: var(--dark);
    color:var(--white);
    padding: .7rem;
    border-radius: 25px;
}
.btn-new-post:hover {
    transform: scale(1.1);
}



